<div id="<%= dom_id subject1 %>">
  <p>
    <strong>Name subject:</strong>
    <%= subject1.name_subject %>
  </p>

  <p>
    <strong>Code subject:</strong>
    <%= subject1.code_subject %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= subject1.credit %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= subject1.place %>
  </p>

</div>
