<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Subject1</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to subject1s_path, class: button_class(theme: "transparent") do %>
      All Subject1s
      <% end %>
      <%= link_to edit_subject1_path(@subject1), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name subject:</p>
        <p><%= @subject1.name_subject %></p>
      </li>
      <li>
        <p class="font-semibold">Code subject:</p>
        <p><%= @subject1.code_subject %></p>
      </li>
      <li>
        <p class="font-semibold">Credit:</p>
        <p><%= @subject1.credit %></p>
      </li>
      <li>
        <p class="font-semibold">Place:</p>
        <p><%= @subject1.place %></p>
      </li>
  </ul>
</div>
