<div id="<%= dom_id student1 %>">
  <p>
    <strong>Mssv:</strong>
    <%= student1.mssv %>
  </p>

  <p>
    <strong>Name stu:</strong>
    <%= student1.name_stu %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= student1.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student1.address %>
  </p>

</div>
